<fd-china-3d style="width: 500px;height: 500px;display: block;"></fd-china-3d>

<div style="height: 1px;background-color: aqua;margin: 8px;"></div>

<fd-fm-map style="width: 500px; height: 500px;display: block;"></fd-fm-map>

<div style="height: 1px;background-color: aqua;margin: 8px;"></div>

<fd-draw-map style="width: 500px; height: 500px; display: block;"></fd-draw-map>

<div style="height: 1px;background-color: aqua;margin: 8px;"></div>

<fd-area-map style="width: 500px; height: 500px; display: block;"></fd-area-map>

<router-outlet></router-outlet>
